.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}
.header {
  display: flex;
  margin-left: 50px;
  font-size: 10px;
  font-weight: 200;
}
