.container {
  display: flex;
  justify-content: center;
  height: 619px;
  background-color: #fff;
}
.text {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  margin-top: 30px;
  gap: 2px;
}
.text h3 {
  display: flex;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}
.text h4 {
  font-size: 20px;
  margin: 0;
}
.contents {
  display: flex;
  gap: 17px;
  margin-top: 200px;
}
.contents img {
  width: 249px;
  height: 337px;
}
