html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.homeBackground {
  background-image: url("../../assets/photos/homeBackground.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.homeBackground h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  position: absolute;
  left: 66px;
  top: 450px;
  margin: 0;
}

.homeBackground p {
  font-weight: 25;
  position: absolute;
  left: 80px;
  top: 530px;
}
.homeBackground button {
  position: absolute;
  left: 80px;
  top: 600px;
}
