.container {
  color: #000;
  display: flex;
  align-items: center;
}
.container input {
  background-color: white;
  height: 32px;
  color: #705b4f;
  border: none;
  border-bottom: 1px solid #705b4f;
  outline: none;
  color: black;
}
.icons {
  display: flex;
  gap: 45px;
  margin-left: 57px;
  align-items: center;
}
.icons img {
  width: 30px;
  height: 30px;
}
.icon {
  position: absolute;
  left: 170px;
  display: flex;
  align-items: center;
  height: 100%;
}
